.product {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  text-align: center;
}

.product-header {
  font-weight: bold;
}

.error {
  color: red;
}